workerPoolSpecs:
  machineSpec:
    machineType: n1-standard-8
    acceleratorType: NVIDIA_TESLA_T4
    acceleratorCount: 1
  replicaCount: 1
  containerSpec:
    imageUri: europe-west1-docker.pkg.dev/${PROJECT_ID}/training-repo/pytorch-trainer_gpu:latest
    env:
      - name: WANDB_API_KEY
        value: ${WANDB_API_KEY}
    args:
      - "gcp.use_gcp=true"
      - "train.batch_size=128"
      - "+train.num_workers=0"
