services:
  trainer:
    build:
      context: .
      dockerfile: docker/trainer.dockerfile
    image: trainer:latest
    volumes:
      - ./data:/app/data
      - ./models:/app/models
      - ./configs:/app/configs

  api:
    build:
      context: .
      dockerfile: docker/api.dockerfile
    image: api:latest
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
