name: "Run linting"

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.12
          enable-cache: true

      - name: Install dependencies
        run: |
          # assume ruff is in the dev dependencies, else you can add with
          # uv add --dev ruff
          uv sync --dev --locked

      - name: Ruff check
        run: uv run ruff check .

      - name: Ruff format
        run: uv run ruff format .
