name: "Run linting"

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'pip' # caching pip dependencies
          enable-cache: true
          

      - name: Install dependencies
        run: |
          pip install ruff mypy
          pip list

      - name: Ruff check
        run: ruff check .

      - name: Ruff format (check only)
        run: ruff format --check .
